* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Prohibido el scroll horizontal en toda la app */
  width: 100%;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}